{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<br>
<br>
<span class="badge badge-pill badge-info"><h1 class="display-3">{{destination.name|upper}}</h1></span>
<br>
<br>
<p class='text-white' >{{destination.description|linebreaks}}</p>
<span class="badge badge-pill badge-info">Visit in</span>
<h1>{{destination.optimal_visiting_season|upper}}</h1>
<p><img src="{{destination.pretty_picture.url}}" style="max-width: 50rem;"></p>
<br>
<br>
<a href="{% url 'destination-update' destination.id %}">
    <button type="button" class="btn btn-outline-info">UPDATE</button>
</a>
<a href="{% url 'destination-delete' destination.id %}">
    <button type="button" class="btn btn-outline-danger">DELETE</button>
</a>
<br>
<br>

{% endblock content %}